<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Bookings</title>
</head>
<body>
<h2>My Bookings</h2>
<div class="container-table">
    <table class="content-table">
        <thead>
        <th scope="row">MovieName</th>
        <th scope="row">TheatreName</th>
        <th scope="row">showName</th>
        <th scope="row">MovieDate</th>
        <th scope="row">TicketCount</th>
        <th scope="row">Seats</th>
        <th scope="row">Amount</th>
        </thead>
        <tbody>
        <tr th:each="bookings:${histories}">
            <td th:text="${bookings.movieName}"></td>
            <td th:text="${bookings.theatreName}"></td>
            <td th:text="${bookings.showName}"></td>
            <td th:text="${bookings.movieDate}"></td>
            <td th:text="${bookings.ticketCount}"></td>
            <td th:text="${bookings.seats}"></td>
            <td th:text="${bookings.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>